@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';



/* .fi-main-ctn {
    background-color: #093653 !important;
}

.fi-topbar {
    background-color: #093653 !important;
}

.fi-sidebar-nav {
    background-color: #f7f5ef !important;

    .fi-sidebar-nav-link {
        color: #333 !important;

        &.fi-sidebar-nav-link-active {
            background-color: #093653 !important;
            color: #333 !important;
        }
    }
}

.li.fi-sidebar-item.fi-sidebar-item-has-url {
    color: #333;
} */
